body{
    margin: 0;
}

nav{
    background-color: darkblue;
    height: 30px;

}

a{
    color: red;
    text-decoration: none;
    font-size: 16pt;
    font-family: 'Merriweather', serif;
    padding: 3px;
}

